/* Colores: 
            Secciones - #87BBA2
                   
*/

/*imagen con scroll
background-attachment:fixed;
*/
* {

    margin: 0;
    padding: 0;

}



/*PAGE ACERCADEMI*/


#acercaDeMi {
    padding-top: 2%;
    width: 70%;
    display: flex;
    justify-content: center;



}



/*
#consultas{

} #planAlimen{
    
} #controles:hover {
    animation-name: movPlanes;
    animation-iteration-count: inherit;
    animation-timing-function: ease-in;
    animation-duration: 4s;
    border-radius: 1rem;

    @keyframes movPlanes {
        0% {
            background-color: $efecto-color;
        }
    }
*/