nav {
    font-size: x-large;

    a {

        text-decoration: none;
        color: rgba(84, 179, 84, 0.829);
        font-family: $tipografia-navbar;

    }

    li {
        &:hover {
            animation-name: efectosNav;
            animation-iteration-count: inherit;
            animation-timing-function: ease-in;
            animation-duration: 4s;
            border-radius: 1rem;

            @keyframes efectosNav {
                0% {
                    color: aqua;
                    background-color: #87BBA2;
                }

            }

        }

        a {
            text-align: center;
            padding: 16px;
            text-decoration: none;
        }
    }

}

/*EFECTOS EN BARRA NAV*/


@keyframes efectosNav {
    0% {
        color: aqua;
        background-color: #87BBA2;
    }
}