%alineado-centro {
  text-align: center;
  box-shadow: 6px 6px;
}

@mixin sombra-borde {
  border-radius: 1rem;
  box-shadow: 6px 6px 6px;
}

/*--------------------------------*/

#carro {
  padding-left: 40px;
  width: 90%;

  img {
    border-radius: 2rem;
    height: 500px;
  }
}

main {
  .container {
    padding-top: 40px;
  }

  #derribandoMitos {
    text-align: center;
    padding-top: 20px;

    h2 {
      font-family: $tipografia-parrafos;
      font-size: calc(3rem + 0.9vw);
    }
  }

  #infoEducativa {
    gap: 2rem;
    text-align: center;
    display: grid;
    grid-template-areas: "mito1 mito2 mito3";
    padding-top: 20px;

    .textMitos {
      font-family: $tipografia-parrafos;
    }

    #redirigirContacto {
      display: flex;
      justify-items: center;
      background-color: rgba(84, 179, 84, 0.829);
      border-radius: 3rem;

      a {
        font-size: larger;
        color: black;
      }
    }
  }

  #mito1 {
    grid-area: mito1;
    @include sombra-borde;

    .subtitulo {
      @extend %alineado-centro;
      font-family: $tipografia-subtitulos;
    }

    strong {
      p {
        padding-top: 40px;
      }
    }

    .textMitos {
      padding-top: 40px;
      font-family: $tipografia-parrafos;
    }

    /*efectos de mouse sobre mito*/
    &:hover {
      animation-name: efectos;
      animation-iteration-count: inherit;
      animation-timing-function: ease-in;
      animation-duration: 4s;
      border-radius: 1rem;
    }
  }

  #mito2 {
    grid-area: mito2;
    @include sombra-borde;

    .subtitulo {
      @extend %alineado-centro;
      font-family: $tipografia-subtitulos;
    }

    strong {
      p {
        padding-top: 40px;
      }
    }

    .textMitos {
      padding-top: 4px;
      font-family: $tipografia-parrafos;
    }

    /*efectos de mouse sobre mito*/
    &:hover {
      animation-name: efectos;
      animation-iteration-count: inherit;
      animation-timing-function: ease-in;
      animation-duration: 4s;
      border-radius: 1rem;
    }
  }

  #mito3 {
    grid-area: mito3;
    @include sombra-borde;

    .subtitulo {
      @extend %alineado-centro;
      font-family: $tipografia-subtitulos;
    }

    strong {
      p {
        padding-top: 40px;
      }
    }

    .textMitos {
      padding-top: 4px;
      font-family: $tipografia-parrafos;
    }

    /*efectos de mouse sobre mito*/
    &:hover {
      animation-name: efectos;
      animation-iteration-count: inherit;
      animation-timing-function: ease-in;
      animation-duration: 4s;
      border-radius: 1rem;
    }
  }

  @keyframes efectos {
    0% {
      background-color: #989036;
    }
  }

  /*--MEDIAQUERI--*/

  @media (max-width: 675px) {
    #infoEducativa {
      display: grid;
      grid-template-areas:
        "mito1"
        "mito2"
        "mito3";

    }
  }
}
