%efectosServicios {
  &:hover {
    animation-name: movPlanes;
    animation-iteration-count: inherit;
    animation-timing-function: ease-in;
    animation-duration: 4s;

    @keyframes movPlanes {
      0% {
        background-color: $efecto-color;
      }
    }
  }
}

@mixin sombra-borde {
  border-radius: 1rem;
  box-shadow: 6px 6px 6px;
}

/*-------------------------------------------*/

main {
  #subtituloServicios {
    font-family: $tipografia-titulos;
    text-align: center;

    h2 {
      font-size: calc(2rem + 0.9vw);
    }
  }

  /*--PLANES--*/
  #seccionPlanes {
    padding-top: 2rem;
    display: grid;

    grid-template-areas: "consultas planAlimen controles";
    gap: 2rem;
    justify-content: center;
    text-align: center;
    a {
      text-decoration: none;
      color: black;
    }

    #consultas {
      grid-area: consultas;
      @extend %efectosServicios;
      @include sombra-borde;
      text-align: center;

      .textPlanes {
        font-family: $tipografia-parrafos;
      }
      img {
        width: 300px;
      }
      p {
        padding-top: 10px;
      }
    }

    #planAlimen {
      grid-area: planAlimen;
      @extend %efectosServicios;
      @include sombra-borde;
      text-align: center;

      .textPlanes {
        font-family: $tipografia-parrafos;
      }
      img {
        width: 300px;
      }
      p {
        padding-top: 10px;
      }
    }

    #controles {
      grid-area: controles;
      @extend %efectosServicios;
      @include sombra-borde;
      text-align: center;

      .textPlanes {
        font-family: $tipografia-parrafos;
      }
      img {
        width: 300px;
        height: 200px;
      }
      p {
        padding-top: 10px;
      }
    }
  }

  /*FIN PLANES*/

  /*----MEDIA QUERI----*/
  @media (max-width: 1040px) {
    #seccionPlanes {
      padding-top: 2rem;
      display: grid;
      grid-template-areas:
        "consultas"
        "planAlimen"
        "controles";
      gap: 2rem;
      text-align: justify;
    }
  }
}
