%efectosServicios {
    &:hover {
        animation-name: movPlanes;
        animation-iteration-count: inherit;
        animation-timing-function: ease-in;
        animation-duration: 4s;


        @keyframes movPlanes {
            0% {
                background-color: $efecto-color;
            }
        }
    }
}

@mixin sombra-borde {
    border-radius: 1rem;
    box-shadow: 6px 6px 6px;

}


main {

    h2 {
        font-family: $tipografia-titulos;
        text-align: center;
        font-size: calc(2rem + .9vw);
    }

    /*--PLANES--*/
    #seccionPlanes {
        padding-top: 2rem;
        display: grid;

        grid-template-areas: "consultas planAlimen controles";
        gap: 2rem;
        justify-content: center;
        text-align: center;

        .subtituloServicios {
            font-family: $tipografia-subtitulos;
        }


        #consultas {
            grid-area: consultas;
            @extend %efectosServicios;
            @include sombra-borde;

            .textPlanes {
                font-family: $tipografia-parrafos;
            }

        }

        #planAlimen {
            grid-area: planAlimen;
            @extend %efectosServicios;
            @include sombra-borde;

            .textPlanes {
                font-family: $tipografia-parrafos;
            }

        }

        #controles {
            grid-area: controles;
            @extend %efectosServicios;
            @include sombra-borde;

            .textPlanes {
                font-family: $tipografia-parrafos;
            }

        }
    }

    /*FIN PLANES*/


    /*----MEDIA QUERI----*/
    @media (max-width: 675px) {
        #seccionPlanes {
            padding-top: 2rem;
            display: grid;
            grid-template-areas: "consultas"
                "planAlimen"
                "controles";
            gap: 2rem;
            text-align: justify;
        }
    }
}